#header {
  margin: 2% 5%;
}

.grid-container.header {
  display: grid;
  grid-template-columns: 10% 90%;
}
.grid-item.text {
  margin-left: 40px;
}
.titleImg {
  width: 120px;
}
.titleText {
  margin-top: 15px;
  font-family: "Squada One", cursive;
  font-weight: 500;
  font-size: 3rem;
  color: #678bc7;
}
.titleImportant {
  color: rgb(30, 30, 30);
}
.intro {
  padding-right: 15%;
}

.grid-container.main {
  display: grid;
  grid-template-columns: 80% 20%;
}

.grid-item {
  background-color: white;
}
.grid-item.portraits {
  padding: 2% 3%;
}

.Btn {
  display: block;
  /*margin-left: 35%;*/
  width: 100%;
  height: 5%;
  font-family: "Saira", sans-serif;
  font-size: 0.85rem;
}

.resetBtn {
  margin-top: 0px;
}

#architect {
  display: inline;
}

.tooltip {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  border: 1px solid rgb(48, 48, 48);
  border-right: 8px solid rgb(48, 48, 48);
  border-bottom: 3px solid rgb(48, 48, 48);
  background: white;
  text-align: center;
  transition: all 0.2s ease-out;
  pointer-events: none;
  z-index: 10;
}

.tooltipName {
  margin-top: 5px;
  font-family: "Cairo", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.tooltipYear {
  margin-bottom: 5px;
  font-family: "Rajdhani", sans-serif;
  font-size: 0.9rem;
  color: rgb(173, 4, 4);
}
img {
  display: inline;
  width: 90px;
  margin: 5px;
}
.updatedImg {
  margin: 7% 5% 10%;
  height: 40%;
  background-color: gray;
}
.updateText {
  background-color: gray;
}

.photo {
  filter: grayscale(1);
  z-index: 1;
}

.photo:hover {
  position: relative;
  filter: grayscale(0);
  transform: scale(1.5);
  border: 2px solid rgba(241, 71, 71, 0.9);
  border-left: 10px solid rgba(241, 71, 71, 0.6);
  border-top: 5px solid rgba(241, 71, 71, 0.6);
  z-index: 2;
}
.photo:hover ~ .tooltip {
  box-shadow: 20px 10px 0px 3px rgba(241, 71, 71, 0.9);
  transform: skew(-10deg);
}

.otherProperty {
  filter: grayscale(0);
  border: 1px solid rgb(180, 180, 180);
}

.otherProperty:hover {
  transform: scale(1);
  border-style: groove;
  border: 2px solid rgb(3, 242, 250);
}

.otherProperty:hover ~ .tooltip {
  top: 6px;
  left: -25px;
  background: rgba(255, 255, 255, 0.8);
  transform: skew(0deg);
}

#architect {
  position: relative;
}
.test {
  width: 1424px;
  height: 50px;
  background-color: red;
}

@media only screen and (min-width: 1441px) {
  .grid-item.portraits {
    padding: 2% 4.2%;
  }
  .tooltip {
    width: 180px;
  }
  .tooltipName {
    font-size: 1.2rem;
  }
  .tooltipYear {
    font-size: 1.1rem;
  }
  img {
    width: 120px;
    margin: 5px;
  }
  .titleImg {
    width: 160px;
  }
  .Btn {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1800px) {
  #header {
    margin: 1% 5%;
  }
  .grid-item.portraits {
    padding: 2% 4%;
  }
  img {
    margin: 8px;
  }
}
